  .combatfriend-init-text {
    text-align: center;
    font-size: large;
    font-weight: bold;
  }
  
  .combatfriend-init-label {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .combatfriend-round-label {
    text-align: center; 
    line-height: 25px;
    margin-bottom: 8px; 
  }

  .combatfriend-box {
    border-bottom: 1px solid black;
    margin-bottom: 8px; 
    justify-content: center;
    align-items: center;
  }
  
  .combatfriend-button {
    font-size: small;
    max-height: 25px;
    line-height: 15px;
    max-width: 75px;
  }

  .combatfriend-round-button {
    font-size: small;
    max-height: 25px;
    line-height: 15px;
    min-width: 80px;
    max-width: 80px;
  }
  
  .combatfriend-form {
    min-height: 90px;
    max-height: 90px;
  }

  .combatfriend-init-results {
    padding-top: 15px;
  }

  .combatfriend-sequence {
    border-bottom: 1px solid black;
  }

  .combatfriend-tabs {
    display: flex;
    margin-top: 10px;
  }
  
  .combatfriend-tab-button {
    padding: 1px 8px;
    line-height: 1;
    cursor: pointer;
    border: 1px solid #ccc;
    border-bottom: none;
    background-color: #f1f1f1;
    margin-right: 2px;
    width: 80px;
    height: 25px;
  }
  
  .combatfriend-tab-button.active {
    background-color: #fff;
    border-bottom: 1px solid #fff;
  }
  
  .combatfriend-tab-content {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
  }

  .combatfriend-timer-name {
    width: 80%;
  }

  .combatfriend-timer-remaining {
    text-align: center;
  }

  .combatfriend-timers-list {
    border: none;
  }
  .combatfriend-timers-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .combatfriend-header-buttons {
    display: flex;
    gap: 10px; /* Space between buttons */
  }
  
  .icon-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px; /* Adjust the size as needed */
    color: #333; /* Color of the icons */
    padding: 5px;
  }
  
  .icon-button:hover {
    color: #007bff; /* Color on hover */
  }