  .combatfriend2e-init-text {
    text-align: center;
    font-size: large;
    font-weight: bold;
  }
  
  .combatfriend2e-init-label {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .combatfriend2e-round-label {
    text-align: center; 
    line-height: 25px;
    margin-bottom: 8px; 
  }

  .combatfriend2e-box {
    border-bottom: 1px solid black;
    margin-bottom: 8px; 
  }
  
  .combatfriend2e-button {
    font-size: small;
    max-height: 25px;
    line-height: 15px;
    max-width: 50px;
  }

  .combatfriend2e-round-button {
    font-size: small;
    max-height: 25px;
    line-height: 15px;
    min-width: 80px;
    max-width: 80px;
  }
  .combatfriend2e-form {
    min-height: 90px;
    max-height: 90px;
  }